.pizza {
  margin: 1rem;
  text-align: center;
  width: 24rem;

  .card-body {
    padding: 0.5rem 1rem;
  }

  .card-img-top {
    height: 20rem !important;
  }

  .name {
    font-weight: bold;
  }

  .price {
    font-weight: bold;
  }

  .input-quantity {
    max-width: 2rem;
    text-align: center;
    height: 2.5rem;
  }
}
